@import './index.scss';

@mixin globals {
  font: $font;
  color: $textColor;
}

.app {
  @include globals;
  margin: .5em auto;
  padding: 1em;

  @include mediaQuery(md) {
      max-width: $breakpointMd;
    }
}