// BREAKPOINTS
$breakpointSm: 540px;
$breakpointMd: 720px;
$breakpointLg: 1200px;

// TYPOGRAPHY
$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$lineHeight: 1.2;
$font: $fontWeight $fontSize / $lineHeight $fontFamily;

// COLORS
$textColor: #454545;
